@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: solid red 1px; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  color: #404040;
  font-family: "Manrope", sans-serif;
}

header {
  display: flex;
  width: 60vw;
  justify-content: flex-end;
  padding: 1em;
}

header nav {
  align-self: flex-end;
}

header nav ul {
  list-style-type: none;
}

header nav ul li a {
  background-color: #404040;
  color: #ffffff;
  padding: 0.25em 0.5em;
  border-radius: 10px;
  text-decoration: none;
}

section.main {
  padding: 1em;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.main p {
  text-align: justify;
}

section.main ul {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
}

section.main ul li {
  padding: 0.25em;
  margin: 0.25em;
  display: flex;
  flex-direction: column;
}

section.main ul li a {
  color: #404040;
}

@media (max-width: 768px) {
  body {
    font-size: 1.1em;
  }
  header {
    width: 90vw;
    /* justify-content: center; */
  }
  section.main {
    width: 90vw;
  }

  section.main p,
  section.index p {
    text-align: justify;
  }
  section.main ul li a {
    word-wrap: break-word;
    /* word-break: break-all; */
  }
  section.main ul {
    margin: 0.25em;
    padding: 0.25em;
    margin-top: 1em;
  }
}
